.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  /*font: 12px sans-serif;*/
}

.link {
  fill: none;
  stroke: #d3d7cf;
  stroke-width: 1.5px;
}